@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Josefin Sans', 'Montserrat', sans-serif; */ 

:root {
    --lightGreen: #45EBA5;
    --darkGreen: #21ABA5;
    --darkBlue: #192655;
    --lightBlue: #1D566E;
    --bgColor: #EBFFFA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', 'Montserrat', sans-serif; 
    background-color: var(--bgColor);
}

a {
    text-decoration: none;
}

.donate-page {
    padding: 16vh 6vw 16vh 2vw;
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}


.donate-left {
    padding: 2vw 4vw 0vw 0vw;
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.donate-left h1{
    line-height: 3vw;
}

.donate-left p{
    font-size: 1.3vw;
    font-weight: 300;
    margin-top: 0.3vw;
    color: rgb(59, 59, 59);
    line-height: 2vw
}
.donate-left h3{
    font-size: 1.6vw;
    margin-top: 2vw;
    margin-bottom: 1.4vw;
}


.donate-right {
    margin-top: 2vw;
    height: 75%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
    border: 2px solid var(--darkBlue);
    border-radius: 18px;
    background-color: var(--lightGreen);
    box-shadow: 6px 6px 10px rgb(0, 0, 0, 0.4);
}

#make-bold {
    font-weight: 600;
    font-size: 1.6vw;
}
#make-bold span{
    font-size: 2vw; 
    vertical-align: -7px;
    margin-left: 0.4vw;
}

#acc-dets {
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: 0;
}



.donate-right input, textarea {
    width: 80%;
    border: 2px solid var(--darkBlue);
    background-color: var(--bgColor);
    border-radius: 5px;
    padding: 1.5vw 1vw;
    font-size: 1.2vw;
    align-self: center;
    font-family: 'Josefin Sans', 'Montserrat', sans-serif;
}

.donate-right h4 {
    padding-left: 2vw;
    width: 60%;
    font-weight: 300;
    font-size: 1.4vw;
}
.donate-right input {
    height: 7%;
}
.donate-right textarea {
    line-height: 2vw;
    height: 30%;
}
.donate-right button{
    align-self: center;

    width: 80%;
    cursor: pointer;
    padding: 0.8vw 2vw;
    color: white;
    font-size: 0.9vw;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    background-color: var(--darkBlue);
    color: white;
    transition: all 0.5s ease;
}

.donate-right button:hover{
    background-color: var(--lightGreen);
    border: 2px solid var(--darkBlue);
    color: black;
}
