{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'logoMain.png' %}" type="image/x-icon">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,600,1,200" />

    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'donate.css' %}">
    <title>Donate Us</title>
</head>

<body>

    <div class="nav">
        <div class="nav-logo">
            <img src="{% static 'logoMain.png' %}" alt="">
            <a href='/'>
                <h4>Vasundhara</h4>
            </a>
        </div>

        <div class="nav-middle">
            <a href="/">
                <h4>Home</h4>
            </a>

            <a href="about">
                <h4>About Us</h4>
            </a>

            <a href="services">
                <h4>Services</h4>
            </a>

            <a href="contact">
                <h4>Contact Us</h4>
            </a>

            <a href="reviews">
                <h4>Reviews</h4>
            </a>
        </div>

        <div class="nav-end">
            <a href="donate">
                <h4>Donate Now</h4>
            </a>
        </div>
    </div>




    <div class="donate-page">
        <div class="donate-left">
            <h1>Impact Starts Here: Donate for a Brighter Future!</h1>
            <p>
                Your contribution can make a real difference! By donating to Vasundhara, you're not just giving money,
                you're investing in the betterment of communities, the environment, and the future. Join us in our
                mission to create a sustainable, healthier, and more equitable world for all.
            </p>

            <h3>Banking Details:</h3>
            <p id="acc-dets">Bank Name: <span style="font-weight: 300;">State Bank Of India</span></p>
            <p id="acc-dets">Beneficiary/Name: <span style="font-weight: 300;">Vasundhara Foundation</span></p>
            <p id="acc-dets">Account Type: <span style="font-weight: 300;">Savings</span></p>
            <p id="acc-dets">Account Number: <span style="font-weight: 300;">1234567892342122</span></p>
            <p id="acc-dets">Branch: <span style="font-weight: 300;">New Delhi Central</span></p>
            <p id="acc-dets">Branch Code: <span style="font-weight: 300;">12345</span></p>
            <p id="acc-dets">IFSC Code: <span style="font-weight: 300;">AB1234567</span></p>
            <p id="acc-dets">MICR Code: <span style="font-weight: 300;">678901234</span></p>

        </div>

        <div class="donate-right">
            <h4 id="make-bold">
                Donate Online
                <span class="material-symbols-outlined">
                    qr_code_scanner
                    </span>
            </h4>
            <h4>Payment Details</h4>
            <input type="text" name="username" id="con-name" placeholder="Enter full name" required>
            <input type="text" name="number" id="con-number" class="input-name-css" pattern="[1-9]{1}[0-9]{9}"
                maxlength="10" placeholder="Enter phone number" required>
            <input type="email" name="useremail" id="con-email" placeholder="Enter email address" required>
            <input type="number" name="amount" id="amount" placeholder="&#x20B9; Enter Amount" required>
            <button>Pay Now!</button>
        </div>
    </div>





    <div class="footer">
        <div class="footer-top">
            <div class="content-logo">
                <img src="{% static 'logoMain.png' %}" alt="">
                <h4>Vasundhara</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com">
                        <img id="social-logo" src="{% static 'facebook.svg' %}" alt="">
                    </a>

                    <a href="https://www.instagram.com">
                        <img id="social-logo" src="{% static 'instagram.svg' %}" alt="">
                    </a>

                    <a href="https://www.twitter.com">
                        <img id="social-logo" src="{% static 'twitter.svg' %}" alt="">
                    </a>

                </div>
            </div>

            <div class="content-links">
                <ul>
                    <li>
                        <a href="/">
                            <h4>Home</h4>
                        </a>
                    </li>

                    <li>
                        <a href="about">
                            <h4>About Us</h4>
                        </a>
                    </li>

                    <li>
                        <a href="services">
                            <h4>Services</h4>
                        </a>
                    </li>

                    <li>
                        <a href="contact">
                            <h4>Contact Us</h4>
                        </a>
                    </li>

                    <li>
                        <a href="reviews">
                            <h4>Reviews</h4>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="content-signup">
                <p>Newsletter Sign up</p>
                <input type="email" name="useremail" id="input-email" placeholder="Email address">
                <button>Sign Up</button>
            </div>

            <div class="content-contact">
                <p>456 Green Circle,</p>
                <p>Pune, Maharashtra</p>
                <p>India</p>
                <p>411001</p>
                <a href="mailto:contact@vasundhara-ngo.org">
                    <p>contact@vasundhara-ngo.org</p>
                </a>
                <p>Tel: +91 20 1234 5678</p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Copyright © 2023 Adventure Leisure Ltd. All rights reserved.</p>
            <span>|</span>
            <p>Privacy Policy</p>
            <span>|</span>
            <p>Terms and Conditions</p>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>